.header {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo__container {
  padding: 1rem;
  border-radius: 10px;
}

.logo__img {
  height: 1.3rem;
  padding: 10px;
  border-radius: 5px;
}
.logo__title {
  width: 78px;
}

.logo__img:hover {
  background-color: var(--grey-50);
}

.search-form {
  width: 40%;
  height: 2rem;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.search-form__button,
.search-form__input {
  height: 100%;
  background-color: var(--grey-50);
  border: none;
  padding-inline: 0.7rem;
}
.search-form__button {
  border-radius: 5px;
  height: 34px;
}
.search-form__input {
  min-width: 400px;
  width: 80%;
  margin-left: -10px;
}
.notification::after,
.message::after {
  content: "1";
  color: var(--white);
  text-align: center;
  font-family: "SF-Pro-Display";
  position: absolute;
  top: 0.7rem;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: var(--green);
}

.create,
.user,
.notification,
.message,
.menu {
  cursor: pointer;
}

.user {
  display: flex;
  align-items: center;
}

.user__image {
  width: 2.5rem;
  border-radius: 100%;
}

.create__drop,
.user__drop {
  display: none;
  position: fixed;
  position: absolute;
  border-radius: 10px;
  top: 5rem;
  width: 13rem;
}
.caret-down {
  width: 0.7rem;
  height: 0.7rem;
}

.create__drop::after,
.user__drop::after {
  content: "";
  position: absolute;
  left: 2rem;
  top: -1rem;
  border: 10px solid transparent;
  border-bottom: 10px solid white;
}

.menu {
  display: flex;
  background-color: var(--grey-50);
  height: 100%;
  width: 100px;
  padding-inline: 1rem;
  align-items: center;
  justify-content: space-around;
}
.menu__icon {
  padding-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
.menu-open {
  background-color: var(--white);
  box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.192);
}

.menu__drop {
  display: none;
  position: fixed;
  position: absolute;
  right: 0px;
  top: 4rem;
  border-end-start-radius: 10px;
  width: 132px;
}
.menu__drop .icon,
.user__drop .icon {
  margin-right: 0.5rem;
}

.menu__drop-open,
.create__drop-open,
.user__drop-open {
  z-index: 1000;
  display: block;
  background-color: var(--white);
  box-shadow: -1px 4px 3px 0px rgba(0, 0, 0, 0.192), 1px 4px 3px 0px rgba(0, 0, 0, 0.192);
}

.drop__item {
  display: block;
  margin: 5px;
  padding: 1rem;
  border-radius: 5px;
  align-content: center;
  display: flex;
}

.drop__item:hover {
  background-color: var(--grey-50);
}

@media (max-width: 865px) {
  .menu__title {
    display: none;
  }
  .menu {
    width: 40px;
  }
}
@media (max-width: 1200px) {
  .search-form {
    width: auto;
  }

  .search-form__input,
  .create,
  .user,
  .notification {
    display: none;
  }
}
